<div class="home">

  <div class="logo">
    <img class="brainimg" src="assets/icon/brain.png">
    <h1>Jogo da Memória</h1>
  </div>

  <div class="content">
    <div class="listnotes">

      <ion-note class="note" color="success">FÁCIL</ion-note>
      <ion-note class="note" color="warning">MÉDIO</ion-note>
      <ion-note class="note" color="danger">DÍFICIL</ion-note>
    </div>

    <ion-button class="btn" style="margin: 20px" color="tertiary">
      JOGAR
    </ion-button>

  </div>
</div>