
.home{
    background-color: bisque;
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

.btn{
    padding: 5px,90px;
}

.logo{
    padding: 60px 90px;
    text-align: center;
    color: black;
}

.action{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    margin: 10px;
}

